<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/main.css" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
    />
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <title>Portfolio</title>
  </head>
  <body>
    <div class="frame">
      <div class="main_frame">
        <div class="left_frame">
          <div class="left_1">
            <div class="left_1-1">
              <img
                src="images/profile.png"
                width="156px"
                height="142px"
                alt=""
              />
            </div>
            <div class="left_1-2"><%=user.name%></div>
            <div class="left_1-3"><%=user.profession%></div>
            <div class="left-icons">
              <a class="link_href" href="">
                <div class="icon">
                  <img src="icon/Facebook.svg" class="icon-1" />
                </div>
              </a>
              <a class="link_href" href="">
                <div class="icon">
                  <img src="icon/Instagram.svg" class="icon-1" />
                </div>
              </a>
              <a class="link_href" href="">
                <div class="icon">
                  <img src="icon/Twitter.svg" class="icon-1" />
                </div>
              </a>
              <a class="link_href" href="">
                <div class="icon">
                  <img src="icon/Linkeding.svg" class="icon-1" />
                </div>
              </a>
              <a class="link_href" href="">
                <div class="icon">
                  <img src="icon/Youtube.svg" class="icon-1" />
                </div>
              </a>
              <a class="link_href" href="">
                <div class="icon">
                  <img src="icon/Dribbble.svg" class="icon-1" />
                </div>
              </a>
            </div>
          </div>
          <div class="marginer"></div>
          <div class="left_2">
            <div class="left_2-1">
              <div class="one">Age:</div>
              <%=user.age%>
            </div>
            <div class="left_2-2">
              <div class="one">Residence:</div>
              <%=user.residence%>
            </div>
            <div class="left_2-3">
              <div class="one">Freelance:</div>
              <p>Available</p>
            </div>
            <div class="left_2-4">
              <div class="one">Address:</div>
              <%=user.address%>
            </div>
          </div>
          <div class="marginer"></div>
          <div class="left_3">
            <div class="left_3-1"><strong>Languages</strong></div>
            <div class="left_3-2">
              <%=user.language1%>
              <div>100%</div>
            </div>
            <div class="box_1"><div class="box_1-1"></div></div>
            <div class="left_3-3">
              <%=user.language2%>
              <div>60%</div>
            </div>
            <div class="box_1"><div class="box_1-2"></div></div>
            <div class="left_3-4">
              <%=user.language3%>
              <div>80%</div>
            </div>
            <div class="box_1"><div class="box_1-3"></div></div>
          </div>
          <div class="marginer"></div>
          <div class="left_4">
            <div class="left_3-1"><strong>Skills</strong></div>
            <div class="left_3-3">
              <%=user.skills1%>
              <div>90%</div>
            </div>
            <div class="box_1"><div class="box_1-1"></div></div>
            <div class="left_3-3">
              <%=user.skills2%>
              <div>85%</div>
            </div>
            <div class="box_1"><div class="box_1-2"></div></div>
            <div class="left_3-3">
              <%=user.skills3%>
              <div>80%</div>
            </div>
            <div class="box_1"><div class="box_1-3"></div></div>
            <div class="left_3-3">
              <%=user.skills4%>
              <div>75%</div>
            </div>
            <div class="box_1"><div class="box_1-4"></div></div>
            <div class="left_3-3">
              <%=user.skills5%>
              <div>85%</div>
            </div>
            <div class="box_1"><div class="box_1-5"></div></div>
          </div>
          <div class="marginer"></div>
          <div class="left_5">
            <div class="left_5-0"><strong>ExtraSkills</strong></div>
            <div class="left_5-1">
              <img src="icon/icons.svg" /><%=user.extra_skills1%>
            </div>
            <div class="left_5-1">
              <img src="icon/icons.svg" /><%=user.extra_skills2%>
            </div>
            <div class="left_5-1">
              <img src="icon/icons.svg" /><%=user.extra_skills3%>
            </div>
            <div class="left_5-1">
              <img src="icon/icons.svg" /><%=user.extra_skills4%>
            </div>
          </div>
          <div class="marginer"></div>
        </div>
        <div class="midd_frame">
          <div class="midd_top">
            <div class="top_left">
              <div class="headline"><%=user.work_place%></div>
              <div class="text">
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Explicabo ab odit in praesentium ex Explicabo ab odit in
                  praesentium ex
                </p>
              </div>
              <div class="click">
                <a><strong>HERE ME =></strong></a>
              </div>
            </div>
            <div class="top_right"><img src="images/You.png" /></div>
          </div>
          <div class="midd_bott">
            <h1>My Services</h1>
            <span
              >Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis
              fuga itaque autem praesentium laborum odio! Lorem, ipsum dolor.
              Lorem ipsum dolor sit. Lorem ipsum dolor</span
            >
            <div class="container">
              <div class="category_box">
                <img src="icon/Vector1.svg" alt="" />
                <strong>Web Development</strong>
                <p>Blog, E-commerce</p>
              </div>
              <div class="category_box">
                <img src="icon/Vector2.svg" alt="" />
                <strong>UI/UX Design</strong>
                <p>Mobile App, Website Design</p>
              </div>
              <div class="category_box">
                <img src="icon/Vector3.svg" alt="" />
                <strong>Sound Design</strong>
                <p>Voice Over, Beat Making</p>
              </div>
              <div class="category_box">
                <img src="icon/Vector4.svg" alt="" />
                <strong>Game Disign</strong>
                <p>Character Design, Props & objects</p>
              </div>
              <div class="category_box">
                <img src="icon/Vector5.svg" alt="" />
                <strong>Photography</strong>
                <p>Portrait, Product Photography</p>
              </div>
              <div class="category_box">
                <strong>Advertising</strong>
                <p class="text_2">
                  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quas
                  delectus nulxcepturi. Magnam
                </p>
                <a><span>ORDERNOW></span></a>
              </div>
            </div>
          </div>
          <div class="price_frame">
            <div class="headline_1"><h1>Price Plans</h1></div>
            <div class="text_1">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit.
              Assumenda <br />doloribus dolor omnis, repudiandae quasi quos
              consectetur odit quas doloremque veritatis repellat
            </div>
            <div class="container">
              <div class="silver_box">
                <div class="headline_2"><h3>Silver</h3></div>
                <div class="headline_3">
                  <h2>$0.00</h2>
                  /hour
                </div>
                <div class="text_2">
                  For most Nusinesses That Want To Optimize Web Queries
                </div>
                <div class="category_list">
                  <div class="tick_box">
                    <img
                      src="icon/check.svg"
                      alt=""
                      style="border: 1px dotted black"
                    />UI Design
                  </div>
                  <div class="tick_box">
                    <img src="icon/check.svg" alt="" />Web Development
                  </div>
                  <div class="close_box">
                    <img
                      src="icon/close.svg"
                      alt=""
                      style="border: 1px dotted black"
                    />Logo Design
                  </div>
                  <div class="close_box">
                    <img src="icon/close.svg" alt="" />sea Optimization
                  </div>
                  <div class="close_box">
                    <img src="icon/close.svg" alt="" />WordPress Integration
                  </div>
                  <div class="close_box">
                    <img src="icon/close.svg" alt="" />5 Websites
                  </div>
                  <div class="close_box">
                    <img src="icon/close.svg" alt="" />Unlimeted User
                  </div>
                  <div class="close_box">
                    <img src="icon/close.svg" alt="" />20 GB Bandwith
                  </div>
                </div>
                <div class="order_box">ORDER NOW</div>
              </div>
              <div class="silver_box">
                <div class="yellow">Most Popular</div>
                <div class="headline_2-2"><h3>Gold</h3></div>
                <div class="headline_3">
                  <h2>$50.00</h2>
                  /hour
                </div>
                <div class="text_2">
                  For most Nusinesses That Want To Optimize Web Queries
                </div>
                <div class="category_list">
                  <div class="tick_box">
                    <img src="icon/check.svg" alt="" />UI Design
                  </div>
                  <div class="tick_box">
                    <img src="icon/check.svg" alt="" />Web Development
                  </div>
                  <div class="tick_box">
                    <img src="icon/check.svg" alt="" />Logo Design
                  </div>
                  <div class="tick_box">
                    <img src="icon/check.svg" alt="" />Sea Optimization
                  </div>
                  <div class="close_box">
                    <img src="icon/close.svg" alt="" />WordPress Integration
                  </div>
                  <div class="close_box">
                    <img src="icon/close.svg" alt="" />5 Websites
                  </div>
                  <div class="close_box">
                    <img src="icon/close.svg" alt="" />Unlimeted User
                  </div>
                  <div class="close_box">
                    <img src="icon/close.svg" alt="" />20 GB Bandwith
                  </div>
                </div>
                <div class="order_box_2">ORDER NOW</div>
              </div>
              <div class="silver_box">
                <div class="headline_2"><h3>Dimond</h3></div>
                <div class="headline_3">
                  <h2>$80.00</h2>
                  /hour
                </div>
                <div class="text_2">
                  For most Nusinesses That Want To Optimize Web Queries
                </div>
                <div class="category_list">
                  <div class="tick_box">
                    <img src="icon/check.svg" alt="" />UI Design
                  </div>
                  <div class="tick_box">
                    <img src="icon/check.svg" alt="" />Web Development
                  </div>
                  <div class="tick_box">
                    <img src="icon/check.svg" alt="" />Logo Design
                  </div>
                  <div class="tick_box">
                    <img src="icon/check.svg" alt="" />Sea Optimization
                  </div>
                  <div class="tick_box">
                    <img src="icon/check.svg" alt="" />WordPress Integration
                  </div>
                  <div class="tick_box">
                    <img src="icon/check.svg" alt="" />5 Websites
                  </div>
                  <div class="tick_box">
                    <img src="icon/check.svg" alt="" />Unlimeted User
                  </div>
                  <div class="tick_box">
                    <img src="icon/check.svg" alt="" />20 GB Bandwith
                  </div>
                </div>
                <div class="order_box">ORDER NOW</div>
              </div>
            </div>
          </div>
          <div class="recomm">
            <div class="headline_1"><h1>Recommendations</h1></div>
            <div class="text_1">
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. <br />
              Repellendus quasi qui debitis perferendis eos beatae quas esse
              tenetur ea voluptatem.
            </div>
            <div class="container">
              <div class="left_box">
                <div class="start_box">
                  <img src="icon/start.svg" alt="" />
                  <img src="icon/start.svg" alt="" />
                  <img src="icon/start.svg" alt="" />
                  <img src="icon/start.svg" alt="" />
                  <img src="icon/start.svg" alt="" />
                </div>
                <div class="headline_2"><h4>Great Quality!</h4></div>
                <div class="text_2">
                  Lorem ipsum dolor sit amet consectetur,<br />
                  adipisicing elit. Placeat fugiat quasi reprehenderit,
                  repellendus dolor architecto quos molestias veritatis?
                  Consequatur
                </div>
                <div class="profile">
                  <div class="img">
                    <img src="images/profile_2.png" alt="" />
                  </div>
                  <div class="about">
                    <div class="name">James Gouse</div>
                    <div class="job">Graphic Designer</div>
                  </div>
                </div>
              </div>
              <div class="left_box">
                <div class="start_box">
                  <img src="icon/start.svg" alt="" />
                  <img src="icon/start.svg" alt="" />
                  <img src="icon/start.svg" alt="" />
                  <img src="icon/start.svg" alt="" />
                  <img src="icon/start.svg" alt="" />
                </div>
                <div class="headline_2"><h4>Amazing Work!</h4></div>
                <div class="text_2">
                  Lorem ipsum dolor sit amet consectetur,<br />
                  adipisicing elit. Placeat fugiat quasi reprehenderit,
                  repellendus dolor architecto quos molestias veritatis?
                  Consequatur
                </div>
                <div class="profile">
                  <div class="img">
                    <img src="images/profile_3.png" alt="" />
                  </div>
                  <div class="about">
                    <div class="name">Tiana Philips</div>
                    <div class="job">Photographer</div>
                  </div>
                </div>
              </div>
              <div class="left_box">
                <div class="start_box">
                  <img src="icon/start.svg" alt="" />
                  <img src="icon/start.svg" alt="" />
                  <img src="icon/start.svg" alt="" />
                  <img src="icon/start.svg" alt="" />
                  <img src="icon/start.svg" alt="" />
                </div>
                <div class="headline_2"><h4>Great Quality!</h4></div>
                <div class="text_2">
                  Lorem ipsum dolor sit amet consectetur,<br />
                  adipisicing elit. Placeat fugiat quasi reprehenderit,
                  repellendus dolor architecto quos molestias veritatis?
                  Consequatur
                </div>
                <div class="profile">
                  <div class="img">
                    <img src="images/profile_4.png" alt="" />
                  </div>
                  <div class="about">
                    <div class="name">Talan Westervelt</div>
                    <div class="job">Business Man</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="dot">
              <img src="icon/dot.svg" alt="" />
              <img src="icon/dot.svg" alt="" />
              <img src="icon/dot.svg" alt="" />
            </div>
          </div>
          <div class="education">
            <div class="headline_1"><h1>Education</h1></div>
            <div class="text_1">
              Lorem ipsum dolor sit amet, consectetur adipisicing <br />
              Lorem ipsum dolor sit amet, consectetur adipisicing <br />
              consectetur adipisicing
            </div>
            <div class="container">
              <div class="box">
                <div class="left_box">
                  <div class="univer"><h4>University Of Toronto</h4></div>
                  <div class="student">
                    <div class="student_left">Student</div>
                    <div class="student_right">Jan 1016-Dec 2021</div>
                  </div>
                </div>
                <div class="right_box">
                  <div class="headline_2">
                    <h4>Certificate Of Web Training</h4>
                  </div>
                  <div class="text_2">
                    Lorem ipsum dolor sit amet consectetur, adipisicing <br />
                    elit. Est voluptas rerum quia. Cum eaque accusantium ipsa,
                    maiores ab at, ipsam ad, incidunt quibusdam placeat ex iste
                    quam et! Impedit nihil fuga maxime nesciunt aperiam facere.
                  </div>
                </div>
              </div>
              <div class="box">
                <div class="left_box">
                  <div class="univer"><h4>Programming Course</h4></div>
                  <div class="student">
                    <div class="student_left">Student</div>
                    <div class="student_right">Jan 1016-Dec 2021</div>
                  </div>
                </div>
                <div class="right_box">
                  <div class="headline_2">
                    <h4>Certificate Of Web Training</h4>
                  </div>
                  <div class="text_2">
                    Lorem ipsum dolor sit amet consectetur, adipisicing <br />
                    elit. Est voluptas rerum quia. Cum eaque accusantium ipsa,
                    maiores ab at, ipsam ad, incidunt quibusdam placeat ex iste
                    quam et! Impedit nihil fuga maxime nesciunt aperiam facere.
                  </div>
                </div>
              </div>
              <div class="box">
                <div class="left_box">
                  <div class="univer"><h4>Web Developer Course</h4></div>
                  <div class="student">
                    <div class="student_left">Student</div>
                    <div class="student_right">Jan 1016-Dec 2021</div>
                  </div>
                </div>
                <div class="right_box">
                  <div class="headline_2">
                    <h4>Certificate Of Web Training</h4>
                  </div>
                  <div class="text_2">
                    Lorem ipsum dolor sit amet consectetur, adipisicing <br />
                    elit. Est voluptas rerum quia. Cum eaque accusantium ipsa,
                    maiores ab at, ipsam ad, incidunt quibusdam placeat ex iste
                    quam et! Impedit nihil fuga maxime nesciunt aperiam facere.
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="education">
            <div class="headline_1"><h1>Work History</h1></div>
            <div class="text_1">
              Lorem ipsum dolor sit amet, consectetur adipisicing <br />
              Lorem ipsum dolor sit amet, consectetur adipisicing <br />
              consectetur adipisicing
            </div>
            <div class="container">
              <div class="box">
                <div class="left_box">
                  <div class="univer"><h4>Lead Web Designer</h4></div>
                  <div class="student">
                    <div class="student_left">Student</div>
                    <div class="student_right">Jan 1016-Dec 2021</div>
                  </div>
                </div>
                <div class="right_box">
                  <div class="headline_2">
                    <h4>Certificate Of Web Training</h4>
                  </div>
                  <div class="text_2">
                    Lorem ipsum dolor sit amet consectetur, adipisicing <br />
                    elit. Est voluptas rerum quia. Cum eaque accusantium ipsa,
                    maiores ab at, ipsam ad, incidunt quibusdam placeat ex iste
                    quam et! Impedit nihil fuga maxime nesciunt aperiam facere.
                  </div>
                </div>
              </div>
              <div class="box">
                <div class="left_box">
                  <div class="univer"><h4>Junior Web Designer</h4></div>
                  <div class="student">
                    <div class="student_left">Student</div>
                    <div class="student_right">Jan 1016-Dec 2021</div>
                  </div>
                </div>
                <div class="right_box">
                  <div class="headline_2">
                    <h4>Certificate Of Web Training</h4>
                  </div>
                  <div class="text_2">
                    Lorem ipsum dolor sit amet consectetur, adipisicing <br />
                    elit. Est voluptas rerum quia. Cum eaque accusantium ipsa,
                    maiores ab at, ipsam ad, incidunt quibusdam placeat ex iste
                    quam et! Impedit nihil fuga maxime nesciunt aperiam facere.
                  </div>
                </div>
              </div>
              <div class="box">
                <div class="left_box">
                  <div class="univer"><h4>Senior Web Designer</h4></div>
                  <div class="student">
                    <div class="student_left">Student</div>
                    <div class="student_right">Jan 1016-Dec 2021</div>
                  </div>
                </div>
                <div class="right_box">
                  <div class="headline_2">
                    <h4>Certificate Of Web Training</h4>
                  </div>
                  <div class="text_2">
                    Lorem ipsum dolor sit amet consectetur, adipisicing <br />
                    elit. Est voluptas rerum quia. Cum eaque accusantium ipsa,
                    maiores ab at, ipsam ad, incidunt quibusdam placeat ex iste
                    quam et! Impedit nihil fuga maxime nesciunt aperiam facere.
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="portfolio">
            <div class="headline_1"><h1>Portfolio</h1></div>
            <div class="text_1">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Blanditiis modi asperiores doloremque recusandae sed debitis iure
              consequuntur sequi, vitae quasi ut eos facilis tempora dolores!
            </div>
            <div class="category_list">
              <span class="yellow">All Categories</span>
              <span>UI Design</span>
              <span>Web Templates</span>
              <span>Logo</span>
              <span>Branding</span>
            </div>
            <div class="container">
              <div class="img_box">
                <img src="images/picture_1.png" alt="" />
                <img src="images/picture_2.png" alt="" />
                <img src="images/picture_3.png" alt="" />
                <img src="images/picture_4.png" alt="" />
                <img src="images/picture_5.png" alt="" />
                <img src="images/picture_6.png" alt="" />
                <img src="images/picture_7.png" alt="" />
                <img src="images/picture_8.png" alt="" />
                <img src="images/picture_9.png" alt="" />
              </div>
            </div>
          </div>
          <div class="blog">
            <div class="headline_1"><h1>Blog</h1></div>
            <div class="text_1">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Blanditiis modi asperiores doloremque recusandae sed debitis iure
              consequuntur sequi, vitae quasi ut eos facilis tempora dolores!
            </div>
            <div class="container">
              <div class="left">
                <img src="images/picture_10.png" alt="" />
                <div class="text_2">
                  <div class="headline_2">
                    <h4>How To Make Web Tempates</h4>
                  </div>
                  <div class="text_3">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Tempore cupiditate alias possimus exercitationem non.
                  </div>
                  <div class="learn"><h4>Learn More ></h4></div>
                </div>
              </div>
              <div class="left">
                <img src="images/picture_2.png" alt="" />
                <div class="text_2">
                  <div class="headline_2">
                    <h4>Make Business Card</h4>
                  </div>
                  <div class="text_3">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Tempore cupiditate alias possimus exercitationem non.
                  </div>
                  <div class="learn"><h4>Learn More ></h4></div>
                </div>
              </div>
              <div class="left">
                <img src="images/picture_3.png" alt="" />
                <div class="text_2">
                  <div class="headline_2">
                    <h4>How To Make Web Design</h4>
                  </div>
                  <div class="text_3">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Tempore cupiditate alias possimus exercitationem non.
                  </div>
                  <div class="learn"><h4>Learn More ></h4></div>
                </div>
              </div>
            </div>
          </div>
          <div class="about_frame">
            <div class="left_container">
              <div class="headline_1"><h4>Leave Us Your Info</h4></div>
              <div class="wrapper_1">
                <div class="box_1"></div>
                <div class="box_1"></div>
                <div class="box_1"></div>
                <div class="box_2"></div>
                <div class="send"><h4>SND MESSAGE</h4></div>
              </div>
            </div>
            <div class="right_container">
              <div class="headline_2"><h4>Leave Us Your Info</h4></div>
              <div class="wrapper_2">
                <div class="box_1">
                  <div class="img"><img src="icon/country.svg" alt="" /></div>
                  <div class="country">
                    <span> Country: </span>
                    <p>Bangladesh</p>
                  </div>
                  <div class="country">
                    <span> City: </span>
                    <p>Dhaka</p>
                  </div>
                  <div class="country">
                    <span> Street: </span>
                    <p>35 Vhatra, Badda</p>
                  </div>
                </div>
                <div class="box_1">
                  <div class="img"><img src="icon/country.svg" alt="" /></div>
                  <div class="country">
                    <span> Country: </span>
                    <p>Bangladesh</p>
                  </div>
                  <div class="country">
                    <span> City: </span>
                    <p>Dhaka</p>
                  </div>
                  <div class="country">
                    <span> Street: </span>
                    <p>35 Vhatra, Badda</p>
                  </div>
                </div>
                <div class="box_1">
                  <div class="img"><img src="icon/country.svg" alt="" /></div>
                  <div class="country">
                    <span> Country: </span>
                    <p>Bangladesh</p>
                  </div>
                  <div class="country">
                    <span> City: </span>
                    <p>Dhaka</p>
                  </div>
                  <div class="country">
                    <span> Street: </span>
                    <p>35 Vhatra, Badda</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="map_frame">
            <img src="images/map.png" alt="" />
          </div>
          <div class="logo_frame">
            <img src="images/one.png" alt="" style="border: 1px dotted black" />
            <img src="images/two.png" alt="" style="border: 1px dotted black" />
            <img
              src="images/three.png"
              alt=""
              style="border: 1px dotted black"
            />
            <img
              src="images/four.png"
              alt=""
              style="border: 1px dotted black"
            />
          </div>
          <div class="end_frame">
            <span>2021 All rights Reserved.Ojjomedia</span>
          </div>
        </div>
        <div class="right_frame">
          <div class="top_box"><img src="icon/moon.svg" /></div>
          <div class="bottom_box">
            <img src="icon/home.svg" />
            <img src="icon/file.svg" />
            <img src="icon/student.svg" />
            <img src="icon/bag.svg" />
            <img src="icon/pause.svg" />
            <img src="icon/contact.svg" />
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
